.hero {
  background-color: var(--color-white);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
}

.hero__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 635px;
  padding-top: 96px;
}

.hero__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
}

.text-italic {
  font-style: italic;
}

.hero__descr {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.hero__link {
  padding-top: 26px;
  padding-right: 54px;
  padding-bottom: 24px;
  padding-left: 54px;
  -webkit-transition: background-color .3s ease-in-out, outline .3s ease-in-out;
       -o-transition: background-color .3s ease-in-out, outline .3s ease-in-out;
          transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.hero__link:focus:not(:active) {
  outline-color: var(--color-daisy-bush);
  background-color: var(--color-melsore);
}

.hero__link:active {
  outline-color: var(--color-daisy-bush);
  background-color: var(--color-daisy-bush);
}

.hero__img {
  padding-top: 30px;
}
